{% extends 'base.html' %}
{% load i18n %}
{% block title %} - {% trans 'Projects' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% trans 'Projects' %}</h1>
        <p>{% trans 'Open source tools and security projects' %}</p>
    </div>
    <div class="projects">
        {% if not projects %}
        <p class="message-wrapper">{% trans 'No projects published yet.' %}</p>
        {% else %}
        {% for project in projects.all %}
            {% include 'components/project_card.html' with project=project %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
