<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_keywords %}
    <meta name="keywords" content="{{ site_settings.seo_settings.meta_keywords }}">
    {% endblock %}

    {% block meta_description %}
    <meta name="description" content="{{ site_settings.seo_settings.meta_description }}">
    {% endblock %}

    {% block meta_author %}
    <meta name="author" content="{{ site_settings.seo_settings.meta_author }}">
    {% endblock %}

    {% if site_settings.favicon %}<link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">{% endif %}

    {% block og_type %}
    <meta property="og:type" content="website">
    {% endblock %}

    {% block og_title %}
    <meta property="og:title" content="{{ site_settings.seo_settings.og_title }}">
    {% endblock %}

    {% block og_description %}
    <meta property="og:description" content="{{ site_settings.seo_settings.og_description }}">
    {% endblock %}

    {% block og_url %}
    <meta property="og:url" content="{{ request.get_host }}">
    {% endblock %}

    {% block meta_properties %} {% endblock %}

    {% block og_image %}
    {% if site_settings.seo_settings.og_image %}
    <meta property="og:image" content="{{ site_settings.seo_settings.og_image.url }}">
    {% endif %}
    {% endblock %}

    {% block twitter %}
    <meta name="twitter:card" content="{{ site_settings.seo_settings.twitter_card_type }}">
    <meta name="twitter:creator" content="{{ site_settings.seo_settings.twitter_creator }}">
    {% endblock %}

    <title>{{ site_settings.site_name }}{% block title %}{% endblock %}</title>
    
    {% with theme_css="donasako/css/style.css" %}
    <link rel="stylesheet" href="{% static theme_css %}">
    {% endwith %}

    {% block head %}{% endblock %}
</head>
<body>
{% if site_settings.under_maintenance %}
    {% include "components/maintenance.html" %}
{% else %}
    <header>
        {% include "components/navbar.html" %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "components/footer.html" %}
    </footer>
{% endif %}
{% with theme_js="donasako/js/script.js" %}
<script src="{% static theme_js %}"></script>
{% endwith %}
{% block scripts %}{% endblock %}
</body>
</html>
